#LangChain Core
langchain
langchain_core

#OpenAI Integration
openai
langchain-openai

#Anthropic Integration
langchain-anthropic

#Google Gemini(PaLM) Integration
langchain_google-genai
google-generativeai

#Hugging Face Integration
langchain-huggingface
transformers
huggingface_hub

#Environment Variables Management
python-dotenv

#Machine Learning Utilities
scikit-learn

#stured output
pydantic